<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cisco ACI test App</title>
 
    
   
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    
    <link href="../static/signup.css" rel="stylesheet">
    
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Postgres</a></li>
            <li role="presentation"><a href="#">Mysql</a></li>
            <li role="presentation" class="active"><a href="#">Ms SQL</a></li>
          </ul>
        </nav>
       
      </div>
 
      <div class="jumbotron">
        <h1>ACI List App</h1>
        <form class="form-signin" action="/" method="post">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <!--<label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>!>
         -->
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Add</button>

      </form>
      <h1>Contacts</h1>
      <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                
            <tr>
        </thead>
        <tbody>
            {% for r in rows %}
            <tr>
                <td>{{ r.name }}</td>
                <td>{{ r.email }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
     
       
 
      <footer class="footer">
        <p>&copy; For Networking Group</p>
      </footer>
 
    </div>
  </body>
</html>